.concord { 
	font-family: Geneva, Arial;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 20px;
	list-style-type: none;
	color: #000;
	}
.concord ol {
	list-style-type: none;
	padding: 0 0 0 16px;
	margin: 0;
	clear: both;
	}
.concord .concord-node {
	clear:left;
	display: block;
	min-height: 20px;
	}
.concord .concord-node .concord-wrapper {
	display: inline-block;
	/* background: url('http://static.smallpicture.com/concord-assets/wedge.png') no-repeat 3px 8px; */
	background-repeat: no-repeat;
	position: relative;
	padding-left: 20px;
	/* float: left; */
	/* margin-bottom: 3px; */
	}
.concord .concord-node.concord-comment .node-icon:before {
	content: "\f100" !important;
	}
.concord .concord-node > .concord-wrapper.type-icon .node-icon {
	position: absolute;
	top: 0;
	left: 0;
	color: silver;
	cursor: default;
	}
.concord .concord-node.collapsed > .concord-wrapper.type-icon .node-icon {
	color: #000;
	}
.concord .concord-node[opml-type='link'] > .concord-wrapper.type-icon .node-icon {
	cursor: pointer;
	}
.concord .concord-node.collapsed.selected > .concord-wrapper.type-icon .node-icon {
	color: #fff;
	}
.concord .concord-node.selected.collapsed > .concord-wrapper.type-icon .node-icon.icon-caret-right {
	color: #fff;
	}
.concord .concord-node.selected > .concord-wrapper.type-icon .node-icon.icon-caret-right {
	color: silver;
	}
.concord .concord-node.collapsed > .concord-wrapper{
	/* background-image: url('http://static.smallpicture.com/concord-assets/wedgeParent.png'); */
	}
.concord .concord-node.concord-comment.collapsed > .concord-wrapper {
	/* background-image: url('http://static.smallpicture.com/concord-assets/commentParent.png') !important; */
	}
.concord .concord-node.selected.collapsed > .concord-wrapper{
	/* background-image: url('http://static.smallpicture.com/concord-assets/wedgeParentWhite.png'); */
	}
.concord .concord-node.concord-comment.selected.collapsed > .concord-wrapper {
	/* background-image: url('http://static.smallpicture.com/concord-assets/commentParentWhite.png') !important; */
	}
.concord .concord-node.selected.collapsed > .concord-wrapper.type-icon {
	background-image: none;
	}
.concord .concord-node.drop-sibling > .concord-wrapper .node-icon:before {
	content: "\f063" !important;
	}
.concord .concord-node.drop-sibling > .concord-wrapper .node-icon {
	color: black !important;
	}
.concord .concord-node.drop-child > .concord-wrapper .node-icon:before {
	content: "\f061" !important;
	}
.concord .concord-node.drop-child > .concord-wrapper .node-icon {
	color: black !important;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); /* IE 9 */
	-webkit-transform:rotate(45deg); /* Safari and Chrome */
	}
.concord .concord-node .concord-wrapper .concord-text {
	cursor: text;
	min-height: 20px;
	line-height: 20px;
	/* float: left; */
	display: inline-block;
	outline: none !important;
	font-family: Geneva, Arial;
	font-size: 12pt;
	color: #000;
	min-width: 10px;
	white-space: pre-wrap;
	}
.concord.dragging .concord-node .concord-wrapper .concord-text {
	cursor: pointer;
	}
.concord.readonly .concord-node .concord-wrapper .concord-text {
	cursor: default !important;
	}
.concord .concord-node.selected > .concord-wrapper {
	background-color: #000;
	padding-right: 2px;
	}
.concord .concord-node.selected > .concord-wrapper .concord-text {
	color: #fff;
	}
.concord .concord-node.collapsed > ol {
	display: none;
	}
.concord.dragging {
	cursor: pointer !important;
	}
 #flip form {
	display: inline;
	}
.concord-text a, .concord-text a:visited {
	cursor: pointer;
	}
.concord-node.selected > .concord-wrapper .concord-text a, .concord-node.selected > .concord-wrapper .concord-text a:visited {
	color: yellow;
	}
.ui-loader-default {
	display: none;
	}
.icon-wordpress {
	min-width: 20px;
	background: url('http://static.smallpicture.com/concord-assets/wordpress128.png') no-repeat;
	background-size: 100% auto;
	}
/** FONT AWESOME STYLES **/
	li [class^="icon-"], .nav li [class^="icon-"], li [class*=" icon-"], .nav li [class*=" icon-"] {
		display: inline-block;
		width: 1.25em;
		text-align: center;
		}
	a [class^="icon-"], a [class*=" icon-"] {
		display: inline-block;
		}
